/* Classes */
.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.Card .Empresa {
    background-color: #F5F5F5;
    color: #000000;
    padding: 10px;
    flex: 1;
    flex-wrap: wrap;
}

.Card .Empresa h1, h2 {
    text-align: center;
}