/* Geral */
.Contents {
    background-color: #E6E6FA;
    padding: 70px 100px 250px 100px;
}

/* Responsividade */
@media (max-width: 750px) {
    .Contents {
        background-color: #E6E6FA;
        padding: 50px;
    }
}