.Navbar {
    display: flex;
    flex-basis: 250px;
    background-color: #FFB1A5;
}

.Navbar nav {
    flex: 1;
    padding: 40px;
}

.Navbar ul {
    list-style: none;
    padding: 0;
    text-align: right;
}

.Navbar li {
    display: inline-block;
    padding-right: 3px;
}

.Navbar li a {
    flex: 1;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #4B0082;
}

.Navbar li a:hover {
    background-color: #E6C8FA;
}

.Navbar .Logo img {
    padding-left: 15px;
    padding-top: 5px;
    width: 100px;
}

/* Responsividade */
@media (max-width: 750px) {
    .Navbar .Logo img {
        padding-left: 10px;
        padding-top: 10px;
        width: 200px;
    }

    .Navbar li {
        display: block;
        padding-bottom: 5px;
    }
}