/* Geral */
.Home {
    text-align: center;
}

/* Tags */
.Home p {
    margin-bottom: 20px;
    color: #4B0082;
}

.Home h1 {
    margin-bottom: 20px;
    margin-top: 30px;
    color: #FFB1A5;
}

.Home h2 {
    margin-bottom: 15px;
    margin-top: 50px;
    color: #FFB7A5;
}

.Home img {
    height: 300px;
}

/* Classes */
.Home .logo {
    border-radius: 25px;
}

.Home .Apresentacao .entrarContato {
    font-weight: bold;
    width: 250px;
    height: 70px;
    margin-top: 30px;
    background-color: #FFB1A5;
    border-color: #FFB1A5;
    border-radius: 30px;
}

.Home .Apresentacao .entrarContato:hover {
    font-weight: bold;
    background-color: #FFBBA5;
    border-color: #FFBBA5;
}

/* Responsividade */