.Login {
    text-align: center;
}

.Login input {
    font-size: 20px;
    width: 300px;
}

.Login .email {
    margin-top: 20px;
    margin-bottom: 10px;
}

.Login .btn {
    width: 70px;
    height: 30px;
    margin-top: 20px;
    background-color: #FFB1A5;
    border-radius: 10px;
}