.Membros .Juniores {
    align-items: center;
    align-content: space-between;
    justify-content: center;
    flex-grow: 1;
}

.Membros .Juniores h1 {
    text-align: center;
    padding-bottom: 10px;
    flex-flow: row wrap;
}

.Membros .Card {
    display: flex;
    flex-wrap: wrap;
}