/* Classes */
.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    max-width: 500px;
}

.Card .Tittle {
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.Card .Content {
    background-color: #F5F5F5;
    color: #000000;
    padding: 10px;
    flex-grow: 1;
}